<!DOCTYPE html>
<html lang="en" ng-app="buscador">
    <head>
        <title>Inicio</title>
        <link href="images/libro.ico" type="image/x-icon" rel="shortcut icon">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="css/all.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="js/buscador.js"></script>
        <script src="js/angular.js"></script>
        <style>
            body { background-color: #F1F1F1; }
        </style>
        <style>
            footer{ clear: both; }
        </style>
    </head>
    <body>
        <!-- Barra superior -->
        <header class="navbar navbar-expand flex-row navbar-dark bg-dark">
            <div class="navbar navbar-dark">
                <a href="#" class="navbar-brand">Diseño de Lenguajes de Consulta</a>
            </div>
        </header>
        
        <div ng-controller="busqueda_controller" class="container">
            <div class="row justify-content-md-center">
                <div class="col-12">
                    <h1 class="text-center mt-4 mb-4" id="paginaTitulo">Motor de Búsqueda</h1>
                </div>
                <div class="col-6">
                    <form name="frm_busqueda">
                        <div class="input-group">
                            <input type="text"
                                   ng-model="cadena"
                                   name="cadena"
                                   required class="form-control mr-sm-2" 
                                   ng-minlength="1" placeholder="Buscar" />
                            <button ng-click="buscar(cadena);" class="btn btn-primary" ng-disabled="frm_busqueda.$invalid"><i class="fa fa-search"></i> Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
            <p />
            <div id="resultadoscontainer">
                <div class="row justify-content-md-center" ng-repeat="resultado in resultados">
                    <div class="col-11">
                        <ul class="list-group-flush">
                            <li class="list-group-item list-group-item-info"><strong>{{$index + 1}}</strong></li>
                            <li class="list-group-item list-group"><strong>Título: </strong> {{resultado.titulo}}</li>
                            <li class="list-group-item"><strong>Nombre del documento: </strong> {{resultado.nomDoc}}</li>
                            <li class="list-group-item"><strong>Término: </strong> {{resultado.termino}}</li>
                            <li class="list-group-item"><strong>Peso de busqueda: </strong> {{resultado.peso}}</li>
                            <li class="list-group-item">
                                <a href="api/doc/descargar/{{resultado.nomDoc}}">Descargar</a> -
                                <a href="api/doc/ver/{{resultado.nomDoc}}" target="_blank">Ver</a> 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br /> <br /> <br />
        <footer class="container-fluid bg-dark fixed-bottom">
            <div class="text-white">
                Camargo,Ignacio - Coronel, Ayelén - Reyes, Mateo<br/>
                <p />
                <span class="small">Ciclo 2020</span>
            </div>
        </footer>
    </body>
</html>
