<!DOCTYPE html>
<html lang="en" ng-app="buscador">
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- CSS only -->
        <link rel="stylesheet" href="css/all.css">
        <link rel="stylesheet" href="css/principal.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="js/buscador.js"></script>
        <script src="js/angular.js"></script>
    </head>
    <body>
        <!-- Barra superior -->
        <header class="navbar navbar-expand flex-row navbar-dark bg-dark">
            <div class="navbar navbar-dark">
                <a href="#" class="navbar-brand">Diseño de Lenguajes de Consulta</a>
            </div>
        </header>
        
        <div ng-controller="busqueda_controller" class="container">
            <div class="row justify-content-md-center">
                <div class="col-12">
                    <h1 class="text-center mt-4 mb-4" id="paginaTitulo">Motor de Búsqueda</h1>
                </div>
                <div class="col-6">
                    <form name="frm_busqueda">
                        <div class="input-group">
                            <input type="text"
                                   ng-model="cadena"
                                   name="cadena"
                                   required class="form-control mr-sm-2" 
                                   ng-minlength="1" placeholder="Buscar" />
                            <button ng-click="buscar(cadena);" class="btn btn-primary" ng-disabled="frm_busqueda.$invalid"><i class="fa fa-search"></i> Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="resultadoscontainer">
            <div class="resultado d-flex mt-1 mb-1" ng-repeat="resultado in resultados">
                <div class="flex-column bg-dark text-white pl-1 pr-1 font-weight-bold"> {{$index + 1}} </div>
                <div class="flex-column">
                    <ul>
                        <li>Título: {{resultado.doc.titulo}}</li>
                        <li>Nombre de archivo: {{resultado.nombreArch}}</li>
                        <li>Peso relativo de busqueda: {{resultado.doc.peso}}</li>
                        <li>Descarga: <a href="{{resultado.doc.docPath}}">URI Local</a> -
                            <a href="rest/documento/descargar/{{resultado.doc.nombreArch}}">Descarga</a> -
                            <a href="rest/documento/ver/{{resultado.doc.nombreArch}}">Ver</a></li>
                    </ul>
                </div>
            </div>
        </div>
            
        </div>
    </body>
</html>
